body{
	margin: 0px;
	padding: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.main_container {
	padding-bottom: 200px;
}

.header {
	background: #fff;
	width: 100%;
	float: left;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.search_input {
	width: 100%;
	border-radius: 20px;
	border: solid 1px rgba(0,0,0,0.2);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.showcase_container {
	margin-bottom: 30px;
	background: #fff;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.showcase_title {
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 10px;
}

.showcase_item {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}

.showcase_image {
	border-radius: 10px;
	height: 150px;
	width: 150px;
}

.showcase_item_text {
	text-align: center;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: auto;
	width: 100%;
}

.view_all {
	vertical-align: middle;
	text-decoration: none;
	color: #2e2e2e;
	font-size: 15px;
	font-weight: bold;
}

.list_item_container {
	cursor: pointer;
	margin-bottom: 50px;
}

.player_container {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: #fff;
	height: 70px;
	box-shadow: 0px -3px 5px rgba(0,0,0,0.2);
}

.player_track_info {
	border-right: 1px solid rgba(0,0,0,0.3);
	height: 70px;
	padding: 10px;
}

.player_track_image {
	height: 50px;
	width: 50px;
	background: #000;
	float: left;
}

.player_track_status_text {
	font-size: 10px;
	font-style: italic;
}

.player_track_title {
	font-weight: bold;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}